@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1>SHOP CART</h1>
            <p class="lead">
                OneStop for All Types of Fragrances
            </p>
        </div>
        <div class="col-md-5">

            <img src="~/Image/SC.png" alt="Banner" style="width:150px; height:150px; margin-left: 75%;border-radius:50%">
        </div>
    </div>
        </div>
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item">
                        <img src="~/Image/1.png" alt="Banner" style="width:100%; height:20%; margin-top: 5px;">
                    </div>

                    <div class="item">
                        <img src="~/Image/2.png" alt="Banner" style="width:100%; height:20%;margin-top: 5px;">
                    </div>

                    <div class="item">
                        <img src="~/Image/3.png" alt="Banner" style="width:100%; height:20%;margin-top: 5px;">
                    </div>
                    <div class="item active">
                        <img src="~/Image/4.png" alt="Banner" style="width:100%; height:20%;margin-top: 5px;">
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-md-4">
                <h2>Perfumes</h2>
                <p>
                    <ul>
                        <li> Change your inspiration</li>
                        <li>
                            Create your signature scent
                        </li>
                        <li>
                            A revolution in perfumery
                        </li>
                        <li>
                            The perfume that gets you noticed
                        </li>
                        <li>
                            Be free with your scent
                        </li>
                        <li>
                            Fragrance of hope
                        </li>
                        <li>
                            Compliments galore
                        </li>
                        <li>
                            Your moment’s on us
                        </li>
                        <li>
                            Timeless scent
                        </li>
                        <li>
                            A playful mix of fruits and florals
                        </li>

                        <li> A burst of energy</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Deodorants</h2>
                <ul>
                    <li>
                        24 Hour All Natural Deodorant.
                    </li>
                    <li>
                        2x Sweat Defense, Extreme Confidence.
                    </li>
                    <li>
                        A 24-hour man needs a 24-hour deodorant.
                    </li>
                    <li>
                        A new kind of deodorant rolls on.
                    </li>
                    <li>
                        Accessorize your underarms.
                    </li>
                    <li>
                        Anything’s possible. – Streax Xenoh Deodorant
                    </li>
                    <li>
                        All Day Freshness Deo.
                    </li>
                    <li>
                        All In, Impossible is Nothing.
                    </li>
                    <li>
                        Bina Gas Wala Body-spray – Fogg Deodorant
                    </li>
                    <li>
                        Avoid sweat. Attract women.
                    </li>

                </ul>
            </div>
            <div class="col-md-4">

                <h2>BodySpray</h2>
                <ul>
                    <li>
                        Considering bringing a flashlight.
                    </li>
                    <li>
                        Never let them see you sweat
                    </li>
                    <li>
                        Strong enough for a man, but made for a woman.
                    </li>
                    <li>
                        In harmony with nature and the human being.
                    </li>
                    <li>
                        Respiration Odor Ruins Romance.
                    </li>

                    <li>
                        Men can’t help acting on Impulse.
                    </li>
                    <li>
                        A 24 hour man needs a 24 hour deodorant.
                    </li>
                    <li>
                        Effectively Neutralizes Odor and Absorbs Wetness.
                    </li>
                    <li>
                        Give into the guilty pleasure of breaking boundaries.
                    </li>
                    <li>
                        2x Sweat Defense, Extreme Confidence.
                    </li>
                </ul>
            </div>
        </div>
